.token_holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pool_selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}